extends _layout-with-navigation
block content
    ol.breadcrumb
        li
            a(href="/") Home
        li
            a(href="/submissions") Submissions
        li.active Submission
    h1=name 
        if userHasRole('admin')
            span.small.code &nbsp;[#{_id}]

    h2 Description
    if description
        p=description
    else
        p.text-danger (No description)

    h2 Submission Videos
    if(videoNotes)
        p
            strong Note: 
            | #{videoNotes}
    if (videoUrls.length > 0)
        .list-group
            each videoUrl in videoUrls
                p
                    a(href="" + videoUrl target="_blank")=videoUrl
    else
        p.text-danger (No videos)

    if userHasRole('reviewer')
        h2 Your Score
        form(action="/review/" + _id method="POST")
            .radio
                label
                    input(type="radio" name="score" value="4" checked=review?review.score==4:false required) 
                    | Exceptionally Good
            .radio
                label
                    input(type="radio" name="score" value="3" checked=review?review.score==3:false) 
                    | Yes
            .radio
                label
                    input(type="radio" name="score" value="2" checked=review?review.score==2:false) 
                    | Unsure
            .radio
                label
                    input(type="radio" name="score" value="1" checked=review?review.score==1:false) 
                    | No
            .radio
                label
                    input(type="radio" name="score" value="0" checked=review?review.score==0:false) 
                    | Exceptionally Bad
            .form-group
                label Notes
                textarea(name="notes").form-control #{review?review.notes:''}

            button.btn.btn-primary(type="submit") Save Review
            | &nbsp;
            a.btn.btn-default(type="submit" href="/submissions") Cancel

    if userHasRole('admin')
        h2 Reviews
        table.table.table-striped
            thead
                th User
                th Score
                th Notes
            tbody
                each review in reviews
                    tr
                        td #{review.username}
                        td
                            +showStars(review.score)
                        td #{review.notes}

mixin showStars(numberOfStars)
    -var counter = 0
    while counter < numberOfStars
        | â­ï¸
        -counter++
    while counter < 4
        | ðŸ”¸
        -counter++